.git
.github
.gitignore
.dockerignore
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
!.env.example
*.log
*.md
tests
*.zip
*.tar.gz
.editorconfig
.phpunit.result.cache
docker-compose.override.yml
